$grass: #9bcc50;
$poison: #b97fc9;
$fire: #fd7d24;
$flying-top: #3dc7ef;
$flying-bottom: #bdb9b8;
$water: #4592C4;
$bug: #729F3F;
$normal: #A4ACAF;
$electric: #EED535;
$ground-top: #F7DE3F; 
$ground-bottom: #AB9842;
$fairy: #FDB9E9;
$dark: #707070;
$psychic: #F366B9;
$dragon-top: #53A4CF;
$dragon-bottom: #F16E57;
$steel: #9EB7B8;
$ghost: #7B62A3;
$rock: #A38C21;
$fighting: #D56723;
$ice: #51C4E7;

$bg-white: #FFFFF7;
$alpha-bg-white: rgba(#fffff7, 0.95);