@import "variables";

@font-face {
  font-family: "Flexo Demi";
  src: url("/src/css/fonts/Flexo-Demi.ttf");
}

@font-face {
  font-family: "Flexo Bold";
  src: url("/src/css/fonts/Flexo-Bold.ttf");
}

body {
  background: linear-gradient(rgba($pokemon-yellow, 0.19), rgba($pokemon-yellow, 0.19)),
    linear-gradient(rgba($bg-white, 0.6), rgba($bg-white, 0.6)),
    url("../img/background-sm.jpg");
  font-family: "Flexo Demi";
}
