@import "variables";

.custom-card {
  margin: 15px 5px;
  .custom-card-header {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .questionmark {
      max-height: 258px;
    }
  }
  .custom-card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    background-color: $bg-white;

    .pokemon-number {
      color: grey;
      font-weight: 700;
      margin-bottom: 0.5em;
      font-size: 0.8rem;
      font-family: "Flexo Bold";
    }
    .pokemon-name {
      text-transform: capitalize;
      margin-bottom: 4px;
      font-size: 1.2rem;
    }
    .pokemon-types .badge {
      width: 48%;
      line-height: 0.75rem;
      font-size: 0.75rem;
      &:not(:first-child) {
        margin-left: 2%;
      }
    }
  }
}

@media (min-width: 576px) {
  .custom-card {
    margin: 20px 15px;
    .custom-card-body {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      .pokemon-number {
        font-size: 1rem;
      }
      .pokemon-name {
        font-size: 1.5rem;
      }
      .pokemon-types .badge {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .custom-card {
    .custom-card-body {
      .pokemon-types .badge {
        font-size: 0.9rem;
      }
    }
  }
}
