.back-button i {
  color: rgba(255, 204, 1, 0.8);
  font-size: 2.1rem; }
  .back-button i:hover {
    color: #ffcc01;
    cursor: pointer; }

@media (min-width: 576px) {
  .back-button i {
    font-size: 2.3rem; } }

@media (min-width: 768px) {
  .back-button i {
    font-size: 2.5rem; } }

@media (min-width: 992px) {
  .back-button i {
    font-size: 3rem; } }
