.custom-card {
  margin: 15px 5px; }
  .custom-card .custom-card-header {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1rem; }
  .custom-card .custom-card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    background-color: #FFFFF7; }
    .custom-card .custom-card-body .pokemon-number {
      color: grey;
      font-weight: 700;
      margin-bottom: 0.5em;
      font-size: 0.9rem;
      font-family: "Flexo Bold"; }
    .custom-card .custom-card-body .pokemon-name {
      text-transform: capitalize;
      margin-bottom: 4px;
      font-size: 1.5rem; }
    .custom-card .custom-card-body .pokemon-types .badge {
      width: 48%; }
      .custom-card .custom-card-body .pokemon-types .badge:not(:first-child) {
        margin-left: 2%; }

@media (min-width: 768px) {
  .custom-card {
    margin: 20px 15px; }
    .custom-card .custom-card-body {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
