.custom-pagination .MuiPaginationItem-outlined {
  border: 1px solid rgba(255, 204, 1, 0.8); }

.custom-pagination .MuiPaginationItem-page:hover {
  background-color: rgba(255, 204, 1, 0.1); }

.custom-pagination .MuiPaginationItem-page.Mui-selected {
  background-color: rgba(255, 204, 1, 0.35); }
  .custom-pagination .MuiPaginationItem-page.Mui-selected:hover {
    background-color: rgba(255, 204, 1, 0.5); }

.custom-pagination .MuiPaginationItem-root {
  color: #5c5c5c; }
